<div class="row">
    <div class="col-3">
        <div class="list-group">
            <button type="button"
                class="list-group-item list-group-item-action active"
                aria-current="true">
                Category
            </button>
            <button type="button"
                class="list-group-item list-group-item-action">A second
                button
                item</button>
            <button type="button"
                class="list-group-item list-group-item-action">A third
                button
                item</button>
            <button type="button"
                class="list-group-item list-group-item-action">A fourth
                button
                item</button>
            <button type="button"
                class="list-group-item list-group-item-action"
                disabled>A disabled button item</button>
        </div>
    </div>
    <div class="col-9">
        <div class="d-flex flex-wrap justify-content-center">
            <div class="card" style="width: 16rem;">
                <img style="width: 254px;"
                    src="./img/lovepik-light-gold-background-image_500961799.jpeg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on
                        the
                        card
                        title and make up the bulk of the card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 16rem;">
                <img style="width: 254px;"
                    src="./img/lovepik-light-gold-background-image_500961799.jpeg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on
                        the
                        card
                        title and make up the bulk of the card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 16rem;">
                <img style="width: 254px;"
                    src="./img/lovepik-light-gold-background-image_500961799.jpeg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on
                        the
                        card
                        title and make up the bulk of the card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 16rem;">
                <img style="width: 254px;"
                    src="./img/lovepik-light-gold-background-image_500961799.jpeg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on
                        the
                        card
                        title and make up the bulk of the card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 16rem;">
                <img style="width: 254px;"
                    src="./img/lovepik-light-gold-background-image_500961799.jpeg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on
                        the
                        card
                        title and make up the bulk of the card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 16rem;">
                <img style="width: 254px;"
                    src="./img/lovepik-light-gold-background-image_500961799.jpeg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on
                        the
                        card
                        title and make up the bulk of the card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>